/*Theme Menus*/
.navbar-default { background-color: transparent; border-color: #e7e7e7; }
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	color: #7aa228;
}
.dropdown-menu > li > a {
    background-color: #7AA228 !important;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.dropdown-menu,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu .active > a:focus {
    background-color: #7aa228;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #7aa228;
	color:#fff;
}
.dropdown-menu > li > a { border-bottom: 1px solid #649403; }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus { background-color: #649403 !important; }
@media only screen and (min-width: 480px) and (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { color: #7aa228 !important; }
}
@media only screen and (min-width: 200px) and (max-width: 480px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover { color: #7aa228 !important; }
}

/*Background colors */
.callout-btn2, a.hrtl-btn,
.project-scroll-btn li:hover,
a.works-btn,
.blog-btn-sm,
a.more-link,
.top-contact-detail-section,
.clients-btn-lg, .team-showcase-overlay, .blog-post-date-area .date, .blog-post-date-area .date, .blog-btn-lg, .blogdetail-btn a:hover, .cont-btn a:hover, .sidebar-widget > .input-group > .input-group-addon, .sidebar-widget > .input-group > .input-group-addon, .sidebar-widget-tags a:hover, .navigation.pagination .nav-links .page-numbers.current,  .navigation.pagination .nav-links a:hover, a.error-btn, .hc_scrollup, .tagcloud a:hover, .form-submit input, .media-body input[type=submit], .sidebar-widget input[type=submit], .footer-widget-column input[type=submit], .blogdetail-btn, .cont-btn button, .orange-widget-column > .input-group > .input-group-addon, .orange-widget-column-tags a:hover, .slider-btn-sm, .slide-btn-sm, .slider-sm-area a.more-link, .blog-pagination span.current, .wpcf7-submit, .page-title-section, ins
{
	background-color: #7aa228;
}

/* Font Colors */
.service-icon i,.portfolio-caption:hover h4 a, .portfolio-tabs li.active > a, .portfolio-tabs li > a:hover, .testmonial-area h4, .blog-post-sm a:hover, .blog-tags-sm a:hover, .blog-sm-area h3 > a:hover, .blog-sm-area h3 > a:focus, .footer-contact-icon i, .footer-addr-icon, .footer-blog-post:hover h3 a , .footer-widget-tags a:hover, .footer-widget-column ul li a:hover, .footer-copyright p a:hover, .page-breadcrumb > li.active a, .about-section h2 > span, .blog-post-lg a:hover, .blog-tags-lg a:hover, .blog-lg-area-full h3 > a:hover, .blog-author span, .comment-date a:hover, .reply a, .reply a:hover, .sidebar-blog-post:hover h3 a, ul.post-content li:hover a, .error-404 h1, .media-body th a:hover, .media-body dd a:hover, .media-body li a:hover, .blog-post-info-detail a:hover, .comment-respond a:hover, /* .blog-lg-area-left p > a, .blog-lg-area-right p > a, .blog-lg-area-full p > a, */ .blogdetail-btn a, .cont-btn a, .blog-lg-area-left h3 > a:hover, .blog-lg-area-right h3 > a:hover, .blog-lg-area-full h3 > a:hover, .sidebar-widget > ul > li > a:hover,
.sidebar-widget table th,
.footer-widget-column table th,
.top-header-widget table th,
.top-contact-detail-section table th,
blockquote a,
blockquote a:hover,
blockquote a:focus,
#calendar_wrap table > thead > tr > th,
#calendar_wrap a,
table tbody a,
table tbody a:hover,
table tbody a:focus,
.textwidget a:hover,
.format-quote p:before,
td#prev a, td#next a,
dl > dd > a, dl > dd > a:hover,
.rsswidget:hover,
.recentcomments a:hover,
p > a,
p > a:hover,
ul > li > a:hover, tr.odd a, tr.even a,
p.wp-caption-text a,
.footer-copyright a, .footer-copyright a:hover
{
	color: #7aa228;
}

/* Border colors */
.footer-widget-tags a:hover , .sidebar-widget > .input-group > .input-group-addon, .sidebar-widget-tags a:hover, .blog-pagination a:hover, .blog-pagination a.active, .tagcloud a:hover, .media-body input[type=submit], .sidebar-widget input[type=submit], .footer-widget-column input[type=submit]
{
	border: 1px solid #7aa228;
}
.footer-copyright-section {	border-bottom: 5px solid #7aa228; }
.team-area:hover .team-caption { border-bottom: 2px solid #7aa228; }
.blog-lg-box img { border-bottom: 3px solid #7aa228; }
blockquote {border-left: 5px solid #7aa228;}

/* Box Shadow*/
.callout-btn2, a.hrtl-btn, a.works-btn, .blog-btn-sm, .more-link, .blogdetail-btn a, .cont-btn a, a.error-btn, .form-submit input, .blogdetail-btn, .cont-btn button, .slider-btn-sm , .slider-sm-area a.more-link, .format-video-btn-sm, .slide-btn-sm, .wpcf7-submit,
.post-password-form input[type="submit"], input[type="submit"], .clients-btn-lg { box-shadow: 0 3px 0 0 #649403; }

/* Image Background */
.testimonial-section, .contact-detail-section { background: url("../images/bg1.jpg") repeat fixed 0 0 rgba(0, 0, 0, 0); }
.testimonial-section .overlay, .contact-detail-section .overlay { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7); }
.author-box img {background-color: #2a2a2a;}
.top-header-widget { background-color: #21202e;}

.header-contact-info2 a {
    color: #ffffff;
}
@media only screen and (min-width: 1024px) and (max-width: 1100px) {
		.navbar-header.index6 .head-contact-social {
			float: right !important;
		}
}

/*===== WP 5.8 Wigets =====*/
.sidebar-widget li a:hover,.sidebar-widget li a:focus{
    color: #7aa228;
}
.wp-block-calendar a {
 color: #7aa228;
}
.sidebar-widget .wp-block-tag-cloud a:hover,.footer-widget-section .wp-block-tag-cloud a:hover{
    background-color: #7aa228;
    border: 1px solid #7aa228;
    color: #fff;
}
.wp-block-latest-comments__comment-meta a:hover {
	color: #7aa228;
}
